---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import hero from "../assets/images/hero-kopi.svg";
import omburning from "../assets/images/omburning-kopi.svg";
import proces1 from "../assets/images/proces1-kopi.svg";
import proces2 from "../assets/images/proces2-kopi.svg";
import inspiration from "../assets/images/inspiration-kopi.webp";
import grafik1 from "../assets/images/grafik1-kopi.svg";
import grafik2 from "../assets/images/grafik2-kopi.svg";
import grafik3 from "../assets/images/grafik3-kopi.svg";
import grafik4 from "../assets/images/grafik4-kopi.svg";
import grafik5 from "../assets/images/grafik5-kopi.svg";
import b from "../assets/images/b-kopi.svg";
import u from "../assets/images/u-kopi.svg";
import r from "../assets/images/r-kopi.svg";
import n from "../assets/images/n-kopi.svg";
import i from "../assets/images/i-kopi.svg";
import n2 from "../assets/images/n2-kopi.svg";
import g from "../assets/images/g-kopi.svg";
---

<MainLayout title="Burning">
  <section>
    <Image src={hero} alt="Hero billede" />
  </section>

  <section
    class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-[116px] px-4 md:px-10 py-4"
  >
    <div class="col-span-1 max-w-prose">
      <h1
        class="karla font-extrabold mt-0 text-[40px] md:text-[57px] text-[#040464]"
      >
        En font med kontraster
      </h1>
      <p class="karla text-[16px] md:text-[18px] mt-4 md:mt-6">
        Burning er resultatet af en fusion mellem to forskellige stilarter – den
        kantede, industrielle tilgang fra fonten TT Paplane og de bløde, bølgede
        former fra fonten Impetous. <br />
        <br />Det er en skrifttype, der balancerer mellem styrke og elegance.
        Med sin rå, kantede energi kombineret med bløde, flydende former, skaber
        den et dynamisk udtryk, der både er iøjnefaldende og kraftfuldt. Denne
        kontrast mellem det industrielle og det organiske giver Burning en unik
        visuel identitet, der skiller sig ud. <br /><br />Designet til at
        udfordre de traditionelle grænser for typografi, forener Burning skarpe
        linjer og organiske kurver på en måde, der tilføjer dybde og karakter
        til ethvert projekt. Den er ideel til design, der kræver både styrke og
        finesse – fra logoer til plakater og branding. Med sin moderne æstetik
        åbner Burning op for et væld af kreative muligheder og skaber et varigt
        indtryk.
      </p>
    </div>
    <div class="col-span-1 flex justify-center md:justify-end items-start mt-4">
      <Image src={omburning} alt="Burning grafik" class="w-full h-auto" />
    </div>
  </section>

  <section
    class="flex flex-col md:flex-row flex-wrap justify-center space-y-4 md:space-y-0 md:space-x-8 mt-20 md:mt-48 md:mb-48 px-4"
  >
    <Image
      src={b}
      alt="Bogstav b"
      class="w-full h-auto md:w-[174px] md:h-[174px]"
    />
    <Image
      src={u}
      alt="Bogstav u"
      class="w-full h-auto md:w-[174px] md:h-[174px]"
    />
    <Image
      src={r}
      alt="Bogstav r"
      class="w-full h-auto md:w-[174px] md:h-[174px]"
    />
    <Image
      src={n}
      alt="Bogstav n"
      class="w-full h-auto md:w-[174px] md:h-[174px]"
    />
    <Image
      src={i}
      alt="Bogstav i"
      class="w-full h-auto md:w-[174px] md:h-[174px]"
    />
    <Image
      src={n2}
      alt="Bogstav n"
      class="w-full h-auto md:w-[174px] md:h-[174px]"
    />
    <Image
      src={g}
      alt="Bogstav g"
      class="w-full h-auto md:w-[174px] md:h-[174px]"
    />
  </section>

  <section class="grid grid-cols-1 md:grid-cols-2 gap-4 px-4 md:px-10 py-4">
    <div class="col-span-1 max-w-prose">
      <h1
        class="karla font-extrabold text-[40px] md:text-[57px] text-[#040464]"
      >
        Inspiration og proces
      </h1>
      <p class="karla text-[16px] md:text-[18px] mt-4 md:mt-6">
        Min designproces startede med at samle inspiration på et moodboard, hvor
        jeg studerede forskellige skrifttyper, der kunne afspejle den energi,
        jeg ville udtrykke. <br /><br />Jeg begyndte at arbejde i Adobe
        Illustrator, hvor jeg først forsøgte at bruge et grid system. Jeg fandt
        hurtigt ud af, at dette ikke gav mig den frihed, jeg havde brug for, så
        jeg tog et valg og begyndte at bygge bogstaverne op af grundlæggende
        geometriske former som rektangler og cirkler. <br /><br />Denne metode
        tillod mig at eksperimentere med både skarpe kanter og flydende linjer,
        og til sidst kunne jeg skabe den ønskede balance mellem struktur og
        dynamik.
      </p>
      <Image
        src={inspiration}
        alt="Fonte jeg har fået inspiration fra"
        class="w-full h-auto mt-8 md:w-[936px] md:h-[505px] md:mt-32"
      />
      <figcaption class="karla italic">
        Min inspiration kom fra typografierne Impetous og TT Paplane
      </figcaption>
    </div>

    <div class="col-span-1 grid grid-rows-2 gap-4 mt-8 md:mt-0 md:ml-40">
      <div>
        <Image
          src={proces1}
          alt="Fra første skitse til det færdige resultat"
          class="w-full h-auto md:w-[440px] md:h-[505px]"
        />
        <figcaption class="karla italic">
          Fra første skitse til det færdige resultat
        </figcaption>
      </div>
      <div>
        <Image
          src={proces2}
          alt="Processen og udvikling af bogstaverne"
          class="w-full h-auto md:w-[440px] md:h-[505px]"
        />
        <figcaption class="karla italic">
          Processen og udvikling af bogstaverne
        </figcaption>
      </div>
    </div>
  </section>

  <section>
    <Image
      src={grafik1}
      alt="grafisk billede"
      class="w-full h-auto mt-8 md:mt-20"
    />
  </section>

  <section class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4 md:p-8">
    <Image src={grafik2} alt="grafisk billede" class="w-full h-auto" />
    <Image src={grafik3} alt="grafisk billede" class="w-full h-auto" />
    <Image src={grafik4} alt="grafisk billede" class="w-full h-auto" />
    <Image src={grafik5} alt="grafisk billede" class="w-full h-auto" />
  </section>
</MainLayout>
